<template>
    <v-card min-width="100%">
      <!-- <h4> {{ title }}</h4> -->
        <vue-plyr v-bind:ref="video_id" :options="vid_options">
          <video
            controls
            crossorigin
            playsinline
          >
            <source
              v-bind:src="url"
              type="video/mp4"
            />
          </video>
        </vue-plyr>
    </v-card>
</template>

<script>
import {ref} from 'vue';

export default {
    name: 'VideoPlayerCard',
    props: {
        id: String,
        title: String,
        videoUrl: String,
        options: {
        type: Object,
        default() {
          return {
            autoplay:true,
            muted:true,
            loop: {active:false},
            hideControls:true,
            ratio: "16:9",
            fullscreen: { enabled: true, fallback: true, iosNative: false, container: null }
          };
        }
    }
    },
    setup(props) {
      var url = ref(props.videoUrl)
      const video_id = ref(props.id)
      var vid_options = ref(props.options)
      return {url, vid_options,video_id }
    }


}
</script>



<style scoped>
</style>
