<template>
  <div >
    <div hidden id="quad-selector" class="box" ></div>
    <v-layout >
      <v-app-bar style="min-width:40%" collapse  :elevation="0" color="transparent">
          <button style="padding-left:5%" @click="toggle"><i class="fa-solid fa-expand fa-lg"></i></button>

          <button id="iris-button" style="padding-left:2%" ><i class="fa-solid fa-eye fa-lg"></i></button>

          <button id="camera-button" style="padding-left:2%" ><i class="fa-solid fa-camera fa-lg"></i></button>

          <select id="camera-select" style="padding-left:2%" >
              <option></option>
          </select>
      </v-app-bar>
    </v-layout>



      <div id="parent">

          <div v-for="video in videos" class="dv" :key="video.id && video.display" :id="video.id">
                <VideoPlayerCard
                  v-if="video.display"
                  v-bind:ref="video.id"
                  v-bind:id="video.id"
                  v-bind:title="video.title"
                  v-bind:videoUrl="video.url"
                />
          </div>

          <v-card class="dv" elevation="6">
            <v-card-text>
              <h1 style="position: relative; left: -28%, top:0%; margin-bottom: 10%;n">Instructions</h1>

              <v-timeline density="compact" align="start" line-inset="2" truncate-line="both">
                <v-timeline-item
                  size="x-small"
                  dotColor="green"
                  elevation="2"
                  :fillDot="true"
                >
                  <div class="mb-0 bullet-item">
                    Move your head to control the cursor.
                  </div>
                </v-timeline-item>

                <v-timeline-item
                  dotColor="blue"
                  size="x-small"
                >
                  <div class="mb-0 bullet-item">
                    <strong>Option1:</strong>  Double blink to select a video
                  </div>
                </v-timeline-item>

                <v-timeline-item
                  dotColor="blue"
                  size="x-small"
                >
                  <div class="mb-0 bullet-item">
                    <strong>Option2:</strong> look at a video for <i>5 seconds</i>  to select
                  </div>
                </v-timeline-item>

                <v-timeline-item
                  dotColor="red"
                  size="x-small"
                  elevation="2"
                  :fillDot="true"
                >
                  <div class="mb-0 bullet-item">
                    <strong>Main view:</strong> Double blink to return
                  </div>
                </v-timeline-item>

              </v-timeline>

            </v-card-text>
          </v-card>

      <video class="input_video"></video>
      <div class="canvas-container">
        <canvas id="canvas-out" class="output_canvas">
        </canvas>
      </div>
      <div class="control-panel"></div>

      </div>
  </div>




</template>

<script>
import {ref} from 'vue';
import VideoPlayerCard from './components/VideoPlayerCard.vue'
import videoConfig from './app-config.json'

export default {
  name: 'App',
  components: {
    VideoPlayerCard,
  },
  setup(props) {
    var videos = ref(videoConfig)
    var dialog = ref(false);


    var options = ref({
      autoplay:true,
      muted:true,
      loop: {active:false},
      hideControls:true,
      ratio: "16:9",
      fullscreen: { enabled: true, fallback: true, iosNative: false, container: null }
    })

    var fullscreen = ref(false);

    const toggle = () => {
      // console.log(videos)

      fullscreen.value = !fullscreen.value
      if (fullscreen.value == true) {
        openFullscreen()
      } else {
        closeFullscreen()
      }
    }

    const openFullscreen = () => {
      var elem = document.documentElement;
      if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) {
          elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) {
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) {
          elem.msRequestFullscreen();
        }
    }

    const closeFullscreen = () => {
      if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
          document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) {
          document.msExitFullscreen();
        }
    }





    return {videos, toggle, fullscreen, closeFullscreen, options,dialog}
  }
}
</script>

<style lang="scss">

body {
  overflow: hidden; /* Hide scrollbars */
}

::-webkit-scrollbar {
    display: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
  z-index: 0 !important;
}



.camera-container {
  display: block;
  position: absolute;
  z-index: 5;
  width: 512px;
  height: 512px;
  top: 50%;
  left: 50%;
  margin: 0px;
}

.input_video {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  margin: 0px;
}

.canvas-container {
  display:block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  transform: scale(0.4);
  // justify-content: center;
  // align-items:center;
}

.output_canvas {
  max-width: 100%;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  position: absolute;
  width: 150px;
  height: 150px;
  
  margin: 0px;
  background: transparent;
  display:block;
  border: none;
  opacity: 0.7;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: top;
  transition-property: left;
  transition-duration: 0s;
  content: url("./assets/bullseye.png");
}


.btn {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;

}


#parent {
    position:absolute;
    border:0;
    height:100%;
    width:100%;
    padding:0;
}
.dv {
    position:absolute;
    border:0;
    margin:0;
    padding:0;
    width:25%;
    height:25%;
    transition: all 2s ease-out;
}
.dv:nth-child(1) {
    top:0;
    left:0;
    transform-origin: top left;
    transform: scale(1.5);
}
.dv:nth-child(2) {
    top:0;
    right:0;
    transform-origin: top right;
    transform: scale(1.5);
}
.dv:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: bottom left;
    transform: scale(1.5);
}
.dv:nth-child(4) {
    bottom:0;
    right:0;
    transform-origin: bottom right;
    transform: scale(1.5);
}
.dv:nth-child(5) {
    // border:2px solid;
    // border-color:black;
    width: 22%;
    top:15%;
    left:50%;
    transform: translate(-50%, -50%);
}

.bullet-item {
  font-size:large;
}


</style>
